:root{
  --grey : #fff;
}

body{
 background: var(--grey);
 padding:0;
 margin:0;
 background: #000a42;
}

#background{
    position: absolute;
    z-index: -1;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#wrapper{
 display: block;
 z-index: 1;
 width: 100vw;
 height: 100vh;
 color: #fff;
 border: 1px solid #000a42;
}
