@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{
    --grey : #fff;
    --green : #9defed;
    --blue : #000a42;
    --white : #fff;
}

body{
    background: var(--blue);
    padding:0;
    margin:0;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Montserrat';
}

canvas{
    position: fixed;
    z-index: -1;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display: block;
}

#background svg{
    opacity: 0.15;
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: -200;
}

#content-wrapper{
    display: flex;
    z-index: 1;
    color: #fff;
    width: 100vw;
    height:100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.riddler-logo{
    width: 4%;
    min-width: 60px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.csi-logo{
    width: 15%;
    min-width: 250px;
    position: absolute;
    top: 35px;
    right: 30px;
}

.social-icons{
    position: absolute;
    bottom:20px;
    left: 20px;
}

.social-icons svg{
    width: 20px;
    height:20px;
    padding: 10px;
}

.main-content{
    display: flex;
    height: 50vh;
    width: 40vh;
    top: -20px;
    border: 1px solid var(--green);
    padding: 20px;
    flex-direction:column;
    position: relative;
    left: -25vh;
}

.organizer{
    position: absolute;
    bottom:30px;
    right: 30px;
}

.organizer span{
    color: white;
}

h4{
    margin:0;
    padding: 30px 0;
    width: 70%;
}

button{
    width: 30%;
    background: #fff;
}

@media screen and (max-width: 1600px) {
    .main-content{
        display: flex;
        height: 50vh;
        width: 40vh;
        border: 1px solid var(--green);
        padding: 20px;
        flex-direction:column;
        position: relative;
        left: -15vh;
    }
}

@media screen and (max-width: 1040px) {
    .main-content{
        display: flex;
        height: 50vh;
        width: 40vh;
        border: 1px solid var(--green);
        padding: 20px;
        flex-direction:column;
        position: relative;
        left:0;
    }
}


